<div class="navbar navbar-default main-header" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="Index" class="navbar-brand">
                <small>
                    零件库存管理系统
                </small>
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user"></span>
                        <span id="clientUserName"></span>
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#" id="btnUserInfo">
                                <span class="fa fa-cog"></span>
                                修改资料
                            </a>
                        </li>
                        <li>
                            <a href="#" id="btnUserPassword">
                                <span class="fa fa-key"></span>
                                修改密码
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" id="btnUserLogout">
                                <span class="fa fa-power-off"></span>
                                退出系统
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>