<div class="footer main-footer">
    <div class="footer-inner">
        <div class="footer-content">
            <strong class="text-muted">版权所有 &copy; 2018 南斗六星系统集成有限公司</strong>
        </div>
    </div>
</div>