@{
    ViewBag.Title = "零件采购管理";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Content{
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form1">
                <fieldset>
                    <div class="form-group">
                        <label for="F_Part_Code" class="col-sm-3 control-label">零件编码</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="F_Part_Code" id="F_Part_Code" placeholder="零件编码" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-default" id="btnPartSelect">选择</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="F_Quantity" class="col-sm-3 control-label">数量</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="F_Quantity" id="F_Quantity" placeholder="数量" value="1" maxlength="50" required range=[1,99999] />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="F_Eta" class="col-sm-3 control-label">预计到货日期</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form_date" name="F_Eta" id="F_Eta" placeholder="预计到货日期" readonly required date=true />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="F_Ata" class="col-sm-3 control-label">实际到货日期</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form_date" name="F_Ata" id="F_Ata" placeholder="实际到货日期" readonly date=true />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="F_Code" class="col-sm-3 control-label">备注</label>
                        <div class="col-sm-9">
                            <textarea rows="6" class="form-control" name="F_Remark" id="F_Remark" placeholder="备注" maxlength="500"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <input type="submit" class="btn btn-info" value="确定" />
                        <input type="button" class="btn btn-default" value="关闭" id="btnClose" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
@section ScriptPage{
    <script>
        $(function () {
            var F_Id = $.request("F_Id"), Detial = $.request("Detial");
            if (!!F_Id) {
                $.getJson({
                    url: "/PartManage/PartBuy/GetForm?F_Id=" + F_Id,
                    async: false,
                    success: function (result) {
                        $("#form1").formSerialize(result);
                        //$.getJson({
                        //    url: "/PartManage/Part/GetForm?F_Id=" + $("#F_Part_Id").val(),
                        //    async: false,
                        //    success: function (result) {
                        //        $("#F_Part_Code").val(result.F_Code);
                        //    }
                        //});
                        $("#F_Eta").val((!!$("#F_Eta").val()) ? $.dataFormat(new Date($("#F_Eta").val()), "yyyy-MM-dd") : $("#F_Eta").val());
                        $("#F_Ata").val((!!$("#F_Ata").val()) ? $.dataFormat(new Date($("#F_Ata").val()), "yyyy-MM-dd") : $("#F_Ata").val());
                    }
                });
            }
            if (!!Detial) {
                $("#form1").find('fieldset').attr('disabled', true);
                $("#form1").find(':submit').remove();
            }
            $("#btnPartSelect").on("click", function (e) {
                $.modalOpen({
                    title: "零件选择",
                    area: ['60%', '80%'],
                    content: "/PartManage/PartBuy/IndexPart",
                });
            });
            $("#form1").submitForm({
                url: "/PartManage/PartBuy/SubmitForm?F_Id=" + F_Id,
                success: function (result) {
                    $.currentWindow().find(':button[name="refresh"]').trigger("click");
                    $.modalClose();
                }
            });
            $("#btnClose").on("click",function (e) {
                $.modalClose();
            });
        });
    </script>
}