@{
    ViewBag.Title = "零件采购管理";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Content{
    <div class="row">
        <div class="col-xs-12">
            <table authorize="Grid" id="table1"></table>
            <hr class="hr2" />
            <div class="text-right">
                <button type="button" class="btn btn-info" id="btnOK">确定</button>
                <button type="button" class="btn btn-default" id="btnClose">关闭</button>
            </div>
        </div>
    </div>
}
@section ScriptPage{
    <script>
        $(function () {
            $("#table1").bootstrapTableInit({
                url: "/PartManage/Part/GetGridList",
                formatSearch: function () {
                    return '名称/编码/规格';
                },
                columns: [
                    { checkbox: true },
                    { field: "F_Name", title: "名称", sortable: true },
                    { field: "F_Code", title: "编码", sortable: true },
                    { field: "F_Spec", title: "规格", sortable: true },
                    { field: "F_Unit", title: "单位", sortable: true },
                    {
                        field: "F_Enable_Mark", title: "有效标志", sortable: true,
                        formatter: function (value, row) {
                            if (value == 1) {
                                return '<i class="fa fa-check text-success"></i> ';
                            } else {
                                return '<i class="fa fa-times text-danger"></i> ';
                            }
                        }
                    },
                    { field: "F_Create_Time", title: "创建时间", sortable: true }
                ]
            });
            $("#btnOK").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.parentLayerWindow().find("#F_Part_Code").val(row.F_Code);
                    $.modalClose();
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnClose").on("click",function (e) {
                $.modalClose();
            });
        });
    </script>
}