@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Content{
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form1">
                <fieldset>
                    <div class="form-group">
                        <label for="F_Password" class="col-sm-3 control-label">原密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="F_Password" id="F_Password" placeholder="原密码" maxlength="50" required minlength=6 />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="F_New_Password" class="col-sm-3 control-label">新密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="F_New_Password" id="F_New_Password" placeholder="新密码" maxlength="50" required minlength=6 />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="F_Confirm_New_Password" class="col-sm-3 control-label">确认新密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="F_Confirm_New_Password" id="F_Confirm_New_Password" placeholder="确认新密码" maxlength="50" required equalTo="#F_New_Password" />
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <input type="submit" class="btn btn-info" value="确定" />
                        <input type="button" class="btn btn-default" value="关闭" id="btnClose" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
@section ScriptPage{
    <script>
        $(function () {
            $("#form1").submitForm({
                url: "/Index/SubmitFormUserPassword",
                success: function (result) {
                    $.reload();
                    $.modalClose();
                }
            });
            $("#btnClose").on("click",function (e) {
                $.modalClose();
            });
        });
    </script>
}