@{
    ViewBag.Title = "设备维护管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section Content{
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <form class="form-inline" id="table1_query">
                        <div class="form-group">
                            <input type="text" class="form-control form_date_time" name="F_Oper_Time" id="F_Oper_Time_Start" placeholder="操作时间开始" operate="AfterDay" readonly />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form_date_time" name="F_Oper_Time" id="F_Oper_Time_End" placeholder="操作时间结束" operate="BeforeDay" readonly />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="F_Name" id="F_Name" placeholder="项目" operate="Like" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" id="btnQuery">查询</button>
                            <button type="button" class="btn btn-default" id="btnReset">重置</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-body table-responsive">
                    <div id="table1_toolbar">
                        <button type="button" class="btn btn-default" authorize="Button" id="btnDetail">查看</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnAdd">添加</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnEdit">修改</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnDelete">删除</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnExport">导出</button>
                    </div>
                    <table authorize="Grid" id="table1"></table>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptPage{
    <script>
        $(function () {
            $("#table1").bootstrapTableInit({
                url: "/EquipmentManage/Maintenance/GetGridList",
                search: false,
                columns: [
                    { checkbox: true },
                    { field: "F_EQUIPMENT_CODE", title: "所属设备", sortable: true },
                    { field: "F_NAME", title: "项目", sortable: true },
                    { field: "F_COST", title: "费用", sortable: true },
                    { field: "F_OPER_BY", title: "操作人", sortable: true },
                    { field: "F_OPER_TIME", title: "操作时间", sortable: true }
                ]
            });
            $("#btnQuery").on("click", function (e) {
                $("#table1").bootstrapTable('refresh');
            });
            $("#btnReset").on("click", function (e) {
                $("#table1_query")[0].reset();
                $("#btnQuery").trigger("click");
            });
            $("#btnDetail").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.modalOpen({
                        title: "查看",
                        content: "/EquipmentManage/Maintenance/Form?Detial=true&F_Id=" + row.F_ID
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnAdd").on("click", function (e) {
                $.modalOpen({
                    title: "添加",
                    content: "/EquipmentManage/Maintenance/Form"
                });
            });
            $("#btnEdit").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.modalOpen({
                        title: "修改",
                        content: "/EquipmentManage/Maintenance/Form?F_Id=" + row.F_ID
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnDelete").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.confirmAjax({
                        url: "/EquipmentManage/Maintenance/DeleteForm?F_Id=" + row.F_ID,
                        success: function (result) {
                            $("#table1").bootstrapTable('refresh');
                        }
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnExport").on("click", function (e) {
                var field = $("#table1").serializeField();
                var query = $("#table1_query").serializeQuery();
                $.download("/EquipmentManage/Maintenance/Export?field=" + field + "&query=" + query);
            });
        });
    </script>
}