@{
    ViewBag.Title = "菜单列表";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section CssLink{
    <link href="~/Static/ssi/css/cityPicker.css" rel="stylesheet" />
}
@section Content{
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <label>全部菜单</label>
                <ul class="ztree" id="ztree1"></ul>
            </div>
            <div class="col-xs-6">
                <form class="form-horizontal" id="form1">
                    <fieldset>
                        <div class="form-group">
                            <label for="S_Parent_Id" class="control-label">上级菜单</label>
                            <div>
                                <input type="text" class="form-control" id="S_Parent_Id" placeholder="上级菜单" readonly />
                                <input type="hidden" name="F_Parent_Id" id="F_Parent_Id" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="F_Name" class="control-label">名称</label>
                            <div>
                                <input type="text" class="form-control" name="F_Name" id="F_Name" placeholder="姓名" maxlength="50" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="F_Target" class="control-label">目标</label>
                            <div>
                                <input type="text" class="form-control" name="F_Target" id="F_Target" placeholder="目标" maxlength="50" required isMenuTarget="#F_Target" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="F_Icon" class="control-label">图标</label>
                            <div>
                                <input type="text" class="form-control" name="F_Icon" id="F_Icon" placeholder="图标" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="F_Sort" class="control-label">排序</label>
                            <div>
                                <input type="text" class="form-control" name="F_Sort" id="F_Sort" placeholder="排序" value="0" maxlength="50" required range=[0,10000] />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="F_Enable_Mark" class="control-label">有效标记</label>
                            <div>
                                <select class="form-control" name="F_Enable_Mark" id="F_Enable_Mark" required>
                                    <option value="">---请选择---</option>
                                    <option value="1">有效</option>
                                    <option value="0">无效</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="text-right">
                            <input type="submit" class="btn btn-info" value="确定" />
                            <input type="button" class="btn btn-default" value="关闭" id="btnClose" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@section ScriptLink{
    <script src="~/Static/ssi/js/IconPicker.js"></script>
}
@section ScriptPage{
    <script>
        $(function () {
            var iconPicker = new IconPicker({
                target: '#F_Icon'
            }).init();
            var F_Id = $.request("F_Id"), F_Parent_Id = $.request("F_Parent_Id"), Detial = $.request("Detial"), ztree1;
            $.getJson({
                url: "/SystemManage/Menu/GetMenu",
                async: false,
                success: function (result) {
                    var setting = {
                        callback: {
                            onClick: function onClick(e, treeId, treeNode) {
                                $("#S_Parent_Id").val(treeNode.name);
                                $("#F_Parent_Id").val(treeNode.id);
                            }
                        }
                    };
                    ztree1 = $.fn.zTree.init($("#ztree1"), setting, result);
                }
            });
            if (!!F_Parent_Id) {
                node = ztree1.getNodeByParam("id", F_Parent_Id);
                ztree1.selectNode(node);
                ztree1.setting.callback.onClick(null, null, node);
            }
            if (!!F_Id) {
                $.getJson({
                    url: "/SystemManage/Menu/GetForm?F_Id=" + F_Id,
                    async: false,
                    success: function (result) {
                        $("#form1").formSerialize(result);
                        node = ztree1.getNodeByParam("id", result.F_Parent_Id);
                        ztree1.selectNode(node);
                        ztree1.setting.callback.onClick(null, null, node);
                    }
                });
            }
            if (!!Detial) {
                $("#form1").find('fieldset').attr('disabled', true);
                $("#form1").find(':submit').remove();
            }
            $("#form1").submitForm({
                url: "/SystemManage/Menu/SubmitForm?F_Id=" + F_Id,
                success: function (result) {
                    $.currentWindow().find(':button[name="refresh"]').trigger("click");
                    $.modalClose();
                }
            });
            $("#btnClose").on("click", function (e) {
                $.modalClose();
            });
        });
    </script>
}
