@{
    ViewBag.Title = "操作列表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section Content{
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div id="table1_toolbar">
                        <button type="button" class="btn btn-default" authorize="Button" id="btnDetail">查看</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnAdd">添加</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnEdit">修改</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnDelete">删除</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnEnable">启用</button>
                        <button type="button" class="btn btn-default" authorize="Button" id="btnDisable">禁用</button>
                    </div>
                    <table authorize="Grid" id="table1"></table>
                </div>
            </div>
        </div>
    </div>
}
@section ScriptPage{
    <script>
        $(function () {
            $("#table1").bootstrapTableInit({
                url: "/SystemManage/Action/GetGridList",
                idField: "F_ID",
                formatSearch: function () {
                    return '所属菜单/编码/名称/目标';
                },
                columns: [
                    { checkbox: true },
                    { field: "F_MENU_NAME", title: "所属菜单", sortable: true },
                    { field: "F_CODE", title: "编码", sortable: true },
                    { field: "F_NAME", title: "名称", sortable: true },
                    { field: "F_TARGET", title: "目标", sortable: true },
                    {
                        field: "F_TYPE_MARK", title: "类型标志",
                        formatter: function (value, row) {
                            switch (value) {
                                case 1:
                                    return '菜单';
                                case 2:
                                    return '列表';
                                case 3:
                                    return '按钮';
                                default:
                                    return '类型错误';
                            }
                        }
                    },
                    {
                        field: "F_ENABLE_MARK", title: "有效标志", sortable: true,
                        formatter: function (value, row) {
                            switch (value) {
                                case 0:
                                    return '<i class="fa fa-times text-danger"></i>';
                                case 1:
                                    return '<i class="fa fa-check text-success"></i>';
                                default:
                                    return '类型错误';
                            }
                        }
                    },
                    { field: "F_CREATE_TIME", title: "创建时间", sortable: true }
                ]
            });
            $("#btnDetail").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.modalOpen({
                        title: "查看",
                        content: "/SystemManage/Action/Form?Detial=true&F_Id=" + row.F_ID
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnAdd").on("click", function (e) {
                $.modalOpen({
                    title: "添加",
                    content: "/SystemManage/Action/Form"
                });
            });
            $("#btnEdit").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.modalOpen({
                        title: "修改",
                        content: "/SystemManage/Action/Form?F_Id=" + row.F_ID
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnDelete").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.confirmAjax({
                        url: "/SystemManage/Action/DeleteForm?F_Id=" + row.F_ID,
                        success: function (result) {
                            $("#table1").bootstrapTable('refresh');
                        }
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnEnable").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.confirmAjax({
                        url: "/SystemManage/Action/EnableForm?F_Id=" + row.F_ID,
                        success: function (result) {
                            $("#table1").bootstrapTable('refresh');
                        }
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
            $("#btnDisable").on("click", function (e) {
                var row = $("#table1").bootstrapTable('getSelections')[0];
                if (row) {
                    $.confirmAjax({
                        url: "/SystemManage/Action/DisableForm?F_Id=" + row.F_ID,
                        success: function (result) {
                            $("#table1").bootstrapTable('refresh');
                        }
                    });
                } else {
                    $.modalAlert("请选中一行数据");
                }
            });
        });
    </script>
}