<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- 上传文件根目录-->
  <add key="UploadRoot" value="~/Upload/" />
  <!-- 地图服务器URL-->
  <add key="MapAnalyzeUrl" value="http://61.183.84.103:8081/rgeocode/simple?sid=7001&amp;region={0}&amp;poinum=1&amp;range={1}&amp;resType=xml&amp;rid=123&amp;encode=UTF-8&amp;roadnum={2}&amp;show_near_districts=false&amp;crossnum=5&amp;key=e269da2b031f296f47bea05141da1aa7156f34017320828c9153b2a9848d6bc45d3544236b22fc48"/>
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
</appSettings>
